.footer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  justify-items: center;
}

.footer-container {
  display: grid;
  width: 400px;
  height: 300px;
  gap: 30px;
}

.entrada {
  outline: none;
  border: none;
  border-bottom: 1px solid #686868;
  background: #0f0f0f;
  font-size: 1rem;
  color: #686868;
}

.texto {
  outline: none;
  border: none;
  border-bottom: 1px solid #686868;
  background: #0f0f0f;
  font-size: 1rem;
  color: #686868;
}

.copy {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .footer-container {
    width: 300px;
  }
}
