.footer {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  justify-items: center;
}

.footer-lista {
  font-size: 1.3rem;
  display: grid;
  gap: 15px;
}

.copy {
  margin-top: 70px;
  text-align: center;
}
