/* reset */
body {
  margin: 0px;
  background: var(--fundo);
  color: var(--texto);
  font-family: "Fira Sans", Arial, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

/* variaveis color */
:root {
  --fundo: #0f0f0f;
  --quadros: #080808;
  --texto: #fff;
  --texto-cinza: #686868;
  --fonte-maior: 1.2rem;
  --fonte-media: 1.1rem;
  --fonte-menor: 1rem;
}

/* imagem geral */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* geral */
.cinza {
  color: var(--texto-cinza);
}

.dividir {
  width: 75px;
}

.texto-central {
  margin-top: 70px;
  display: grid;
  gap: 15px;
  text-align: center;
  font-size: var(--fonte-maior);
}

.central-p {
  font-size: var(--fonte-media);
}
