/* reset */
body {
  margin: 0px;
  background: #0f0f0f;
  color: #fff;
  font-family: "Fira Sans", Arial, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

/* imagem geral */
img {
  max-width: 100%;
  /* já que defini os valores de medida no html aq precisocolocar a tag de uto pois esmaca se n colocar */
  height: auto;
  display: block;
}

.cinza {
  color: #686868;
}

.dividir{
  width: 75px;
}

.work-texto {
  margin-top: 40px;
  display: grid;
  gap: 15px;
  text-align: center;
}