.habilidades {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
}

.habilidades-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  place-self: center;
  margin-bottom: 70px;
}

.habilidade-item {
  padding: 30px;
  border: solid 1px white;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  align-items: center;
}

.habilidade-ferramenta {
  text-align: center;
  margin-top: 10px;
}
