.header-menu {
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
  padding: 20px;
}

.header-menu a {
  text-decoration: none;
  color: var(--texto);
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
