.intro {
  position: relative;
}

.intro-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 600px;
  display: grid;
  justify-content: center;
}

.bg_video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background: url("../Img/movie/videofundo.mp4") no-repeat center;
  background-size: cover;
}

.intro-texto {
  place-self: center;
  text-align: center;
}

.intro-titulo {
  font-size: 1.3rem;
}

.intro-paragrafo {
  margin-top: 5px;
  font-size: var(--fonte-menor);
  max-width: 40ch;
}
